.header-portal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: transparent; /* Quita el rojo una vez termines */
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap; /* Esto ayuda en pantallas pequeñas */
  gap: 1rem;
}
